.App {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

input {
  padding: 10px;
  margin: 10px;
}

button {
  margin: 5px;
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

button {
  margin-left: 10px;
}
